In [72]:
# Import dependencies needed 
from flask import Flask
from bs4 import BeautifulSoup as bs
import os
import pandas as pd
import time
from splinter import Browser

Requirement already satisfied: selenium in /anaconda3/envs/PythonData/lib/python3.6/site-packages (3.14.0)
Requirement already satisfied: urllib3 in /anaconda3/envs/PythonData/lib/python3.6/site-packages (from selenium) (1.22)
Requirement already satisfied: splinter in /anaconda3/envs/PythonData/lib/python3.6/site-packages (0.8.0)
Requirement already satisfied: selenium>=3.8.1 in /anaconda3/envs/PythonData/lib/python3.6/site-packages (from splinter) (3.14.0)
Requirement already satisfied: urllib3 in /anaconda3/envs/PythonData/lib/python3.6/site-packages (from selenium>=3.8.1->splinter) (1.22)
Requirement already satisfied: Flask-PyMongo in /anaconda3/envs/PythonData/lib/python3.6/site-packages (2.1.0)
Requirement already satisfied: PyMongo>=3.0 in /anaconda3/envs/PythonData/lib/python3.6/site-packages (from Flask-PyMongo) (3.7.1)
Requirement already satisfied: Flask>=0.11 in /anaconda3/envs/PythonData/lib/python3.6/site-packages (from Flask-PyMongo) (1.0.2)
Requirement already satisfied: Jinja2>=2.10 in /anaconda3/envs/PythonData/lib/python3.6/site-packages (from Flask>=0.11->Flask-PyMongo) (2.10)
Requirement already satisfied: click>=5.1 in /anaconda3/envs/PythonData/lib/python3.6/site-packages (from Flask>=0.11->Flask-PyMongo) (6.7)
Requirement already satisfied: itsdangerous>=0.24 in /anaconda3/envs/PythonData/lib/python3.6/site-packages (from Flask>=0.11->Flask-PyMongo) (0.24)
Requirement already satisfied: Werkzeug>=0.14 in /anaconda3/envs/PythonData/lib/python3.6/site-packages (from Flask>=0.11->Flask-PyMongo) (0.14.1)
Requirement already satisfied: MarkupSafe>=0.23 in /anaconda3/envs/PythonData/lib/python3.6/site-packages (from Jinja2>=2.10->Flask>=0.11->Flask-PyMongo) (1.0)

In [2]:
executable_path = {'executable_path': '/Users/amgadfarah/Desktop/WebScrapingDB/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

NASA MARS NEWS

In [3]:
# Scrape the NASA Mars News Site
def get_soup(url):
    nasa_url = "https://mars.nasa.gov/news/"
    browser.visit(nasa_url)
    nasa_html = browser.html
    nasa_soup = bs(nasa_html,'html.parser')
    return nasa_soup

In [4]:
# Collect the latest News Title
def NASA_news():
    nasa_url = "https://mars.nasa.gov/news/"
    news_soup = get_soup(nasa_url)
    news = news_soup.find_all("div",{"class":"list_text"})[0]
    return {
        "news-title":news.find("div",{"class":"content_title"}).text,
        "news-content":news.find("div",{"class":"article_teaser_body"}).text
    }

In [5]:
NASA_news()

{'news-title': 'Digital Creators: Apply for NASA Mars Landing Event',
 'news-content': "Up to 30 multimedia participants will be selected for a special two-day event at JPL culminating in the InSight spacecraft's landing on Mars. Apply by Sept. 3."}

JPL Mars Space Images

In [32]:
# Visit the url for JPL Featured Space Image
image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(image_url)
html = browser.html
soup = bs(html, "html.parser")

In [43]:
# assign the url string to a variable called `featured_image_url`
image = soup.find("img", class_="thumb")["src"]
featured_image_url = "https://www.jpl.nasa.gov" + image
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA22666-640x350.jpg

### Make sure to save a complete url string for this image.
https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA22666-640x350.jpg

Mars Weather

In [44]:
# Visit the Mars Weather twitter account
url_weather = "https://twitter.com/marswxreport?lang=en"
browser.visit(url_weather)

In [45]:
# Scrape the latest Mars weather tweet from the page. 
html_weather = browser.html
soup = bs(html_weather, "html.parser")

In [46]:
# Save the tweet text for the weather report as a variable called `mars_weather`.
mars_weather = soup.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
print(mars_weather)

Sol 2147 (2018-08-21), high -15C/5F, low -68C/-90F, pressure at 8.70 hPa, daylight 05:30-17:44

Mars Facts

In [47]:
# Visit the Mars Facts webpage
mars_facts_url = "http://space-facts.com/mars/"

In [48]:
# use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.
table = pd.read_html(mars_facts_url)
table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [52]:
df_mars_facts = table[0]
df_mars_facts.columns = ["Parameter", "Values"]
df_mars_facts

              Parameter                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [57]:
# Use Pandas to convert the data to a HTML table string.
mars_html_table = df_mars_facts.to_html(header = False, index = False)
print(mars_html_table)

<table border="1" class="dataframe">
  <tbody>
    <tr>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <td>Mass:</td>
      <td>6.42 x 10^23 kg (10.7% Earth)</td>
    </tr>
    <tr>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.52 AU)</td>
    </tr>
    <tr>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <td>Surface Temperature:</td>
      <td>-153 to 20 °C</td>
    </tr>
    <tr>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

Mars Hemispheres

In [65]:
#Visit the USGS Astrogeology site
hemispheres_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars)"
browser.visit(hemispheres_url)
html = browser.html
soup = bs(html, "html.parser")
mars_hemisphere = []
#You will need to click each of the links to the hemispheres in order to find the image url to the full resolution image
products = soup.find("div", class_ = "result-list" )
hemispheres = products.find_all("div", class_="item")

In [66]:
#Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name.
for hemisphere in hemispheres:
    title = hemisphere.find("h3").text
    title = title.replace("Enhanced", "")
    end_link = hemisphere.find("a")["href"]
    image_link = "https://astrogeology.usgs.gov/" + end_link    
    browser.visit(image_link)
    html = browser.html
    soup= bs(html, "html.parser")
    downloads = soup.find("div", class_="downloads")
    image_url = downloads.find("a")["href"]
    mars_hemisphere.append({"title": title, "img_url": image_url})

In [67]:
 mars_hemisphere

[{'title': 'Cerberus Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]